{% extends "layout.html" %}
{% block title %}HumanPad - Homepage{% endblock %}


{% block body %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column col-md-8">
    <header class="masthead mb-auto">
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link active" href="/gamepad">Gamepad</a>
            <a class="nav-link" href="/settings">Settings</a>
        </nav>
    </header>

    <main role="main" class="cover text-center">
        X: <span id="xtext">0</span> Y: <span id="ytext">0</span>
        
        <i class="bi bi-app" id="button-cross-middle"></i>
        <div class="button-cross" id="button-cross" style="margin:auto;">
            <div style="margin-top:-5px;">
                <i class="bi bi-arrow-up-left-square"></i>
                <i class="bi bi-arrow-up-square"></i>
                <i class="bi bi-arrow-up-right-square"></i>
            </div>
            <div style="margin-top:-8px;">
                <i class="bi bi-arrow-left-square"></i>
                <i class="bi bi-app"></i>
                <i class="bi bi-arrow-right-square"></i>
            </div>
            <div style="margin-top:-8px;">
                <i class="bi bi-arrow-down-left-square"></i>
                <i class="bi bi-arrow-down-square"></i>
                <i class="bi bi-arrow-down-right-square"></i>
            </div>
        </div>
    </main>

    <footer class="mt-auto text-right">
        Created by <a href="https>//butab.cz" title="Author of the app">BUTAB.cz</a>
    </footer>
</div>


{% endblock %}

{% block script %}
<script>
    var buttonCross = document.getElementById("button-cross");
    var buttonCrossMiddle = document.getElementById('button-cross-middle');
    var rectCross = buttonCross.getBoundingClientRect();
    var wCross = 25;
    var hCross = 40;

    buttonCrossMiddle.style.left = (rectCross.left + rectCross.width/2 - wCross) + "px";
    buttonCrossMiddle.style.top = (rectCross.top + rectCross.height/2 - hCross) + "px";

    function doTouch(e) {
        e.preventDefault();
        var touch = e.touches[0];
        var rect = buttonCross.getBoundingClientRect();

        buttonCrossMiddle.style.left = (Math.min(rect.left + rect.width, Math.max(rect.left, touch.pageX))-wCross) + "px";
        buttonCrossMiddle.style.top = (Math.min(rect.top + rect.height, Math.max(rect.top, touch.pageY)) - hCross) + "px";
        
        document.getElementById("xtext").innerHTML = (touch.pageX - rect.width/2 - rect.left);
        document.getElementById("ytext").innerHTML = (touch.pageY - rect.height/2 - rect.top);        
    }

    function endTouch(e) {
        e.preventDefault();

        rectCross = buttonCross.getBoundingClientRect();
        
        buttonCrossMiddle.style.left = (rectCross.left + rectCross.width/2 - wCross) + "px";
        buttonCrossMiddle.style.top = (rectCross.top + rectCross.height/2 - hCross) + "px";
        
        document.getElementById("xtext").innerHTML = 0;
        document.getElementById("ytext").innerHTML = 0;        
    }

    buttonCross.addEventListener('touchstart', function(e) {doTouch(e);}, false);
    buttonCross.addEventListener('touchmove', function(e) {doTouch(e);}, false);
    buttonCross.addEventListener("touchend", function(e) {endTouch(e);}, false);



    // If the orienation is change, we need to recalculate parameters
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    var previousOrientation = window.orientation;
    var checkOrientation = async function(){
        if(window.orientation !== previousOrientation){
            previousOrientation = window.orientation;
            // orientation changed, do your magic here

            await sleep(100); // we need some time to refresh page and update values
            rectCross = buttonCross.getBoundingClientRect();
        
            buttonCrossMiddle.style.left = (rectCross.left + rectCross.width/2 - wCross) + "px";
            buttonCrossMiddle.style.top = (rectCross.top + rectCross.height/2 - hCross) + "px";
        }
    };

    window.addEventListener("resize", checkOrientation, false);
    window.addEventListener("orientationchange", checkOrientation, false);
</script>
{% endblock %}